
*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
}
body{
background-color: rgb(1, 9, 23);

}
.img{
    background-image: url('./Components/welcome\ back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
}

